<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersistData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C52CF2E1C73283B009EF975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C52CF421C73283C009EF975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C52CF4D1C73283C009EF975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
