<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactIndext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C80E7561C3F8691006A4190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C80E76A1C3F8691006A4190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C80E7751C3F8691006A4190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
