<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>waterFillAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C99B32A1C8017F3002FCF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C99B33E1C8017F3002FCF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C99B3491C8017F3002FCF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
