<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Localization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CFBA87D1D22340000F7587A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFBA8911D22340100F7587A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFBA89C1D22340100F7587A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
