<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>weatherBubble.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C8F0BF21B1412C900D8D87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C8F0C071B1412C900D8D87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA290621B44DE4A003C7452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA2906C1B44DE4A003C7452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CBB591F1B44EA27009D19FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CBB59291B44EA27009D19FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CBB594D1B44EC01009D19FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CBB59571B44EC01009D19FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE0EEDA1B440943003BD06E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
