<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item0</key>
	<dict>
		<key>content</key>
		<string>Hi</string>
		<key>time</key>
		<string>8:00</string>
		<key>type</key>
		<string>text</string>
	</dict>
	<key>Item1</key>
	<string></string>
	<key>Item2</key>
	<string></string>
</dict>
</plist>
